.itemlist-containor {
    height: calc(100% - 15rem);
    padding: 0 12px;
    overflow-y: auto;
}

.item-containor {
    height: 14rem;
    padding: 12px;
    margin-top: 12px;
    display: flex;
    border: 1px solid #999999;
    box-sizing: border-box;
    font-size: 16px;
}

.item-left {
    width: 8.2rem;
    height: 11.6rem;
    padding-right: 26px;
}

.item-left>img {
    width: 8.2rem;
    height: 11.6rem;
}

.item-right {
    position: relative;
    width: 22rem;
    height: 11.6rem;
}

.item-detail-containor {
    width: 100%;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-detail-tag {
    padding: 3px;
    background-color: #f3b500;
    color: #ffffff;
    font-size: 14px;
    font-family: '黑体'
}